@charset "UTF-8";


body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Arial,sans-serif; 
    background-image: url(images/mizuho/meisai.jpg);
    background-size: cover;
}
.header {
    text-align: center;
}
.logo img {
    display: inline-block;
}
.header {
    width: 1200px;
    margin: 0 auto;
    background: #eee;
}

.header ul {
    display: flex;
}

.header ul li {
    width: 20px;
    min-width: 200px;
}